# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# VS Code
.vscode/

# Logs
*.log

# Build
build/
dist/

# OS
.DS_Store
Thumbs.db

# ML
ml/checkpoints/
ml/experiments/

# Reports
reports/generated/

# Database
*.db